@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}
.container
{
width: 90%;
margin: auto;/* canh 1 khu vực tên contaier 90% vào giữa màn hình body*/
}
	.row/*tạo 1 hàng với chế độ hiển thị linh hoạt*/
{
display:flex;
	flex-wrap: wrap;
}
/*bắt đầu hệ thống lưới 12 cột  - 100% chia thành 12 phần*/
.col-1{width: 8.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.66%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.66%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.66%}
.col-12{width: 100%}
[class*="col-"]
{
	padding: 15px
}
.img-100{width: 100%; height: auto}
.bg-xam{background:#DDD}
.font-dautrang {
	font-family:'MTD Chuck Noon Script';
	font-size: 40px;
	color:#dd42f5;
}
.text-center{ text-align: center}
.text-right{text-align: right}
.text-left{ text-align: left}
.text-justify{ text-align: justify}
.w-50 { width: 50%;  padding: 15px;height: 80%; border-radius: 8px 8px 0 0;}









